
.app-body{
    background-image: url("../../Images/Netflix-Background.jpg");
  position: relative;
    background-size: cover;
    height: 100vh;
    width: 100%;

}
.app-body::before{
    content: "";
width: 100%;
height: 100vh;
position:absolute;
background-color: rgba(0, 0, 0, 0.503);
}

h2{
    font-size: 60px;
    color: white;
    font-family: Poppins;
    position: relative;
    margin-bottom: 30px;
    position: relative;
    bottom: 90px;
}

p{
    font-size: 25px;
    color: white;
    font-family: Poppins;
}

.card-body{
   margin-top: 35vh;
}

.form-group input{
width: 60%;
height: 3.75rem;
border: 1px solid black;
border-radius: 10px;
outline: none;
font-size: 20px;
}
.form-group ::placeholder{
    left: 10px;
    position: relative;
}

.form-group button{
    min-width: fit-content;
    width: 15%;
    height: 3.75rem;
    border-radius: 10px;
    position: relative;
    left: 5px;
    font-size: 25px;
    bottom: 2px;
}
@media screen and (max-width:425px) {
    .form-group button{
        min-width: 100%;
        width: 100%;
        margin-top: 10px;
    }
    .form-group input{
        min-width: 100%;
        width: 100%;
        
    }


}