<div class="main-container">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5">
          <!-- Credit card form tabs -->
          <ul
            role="tablist"
            class="nav bg-light nav-pills rounded-pill nav-fill mb-3"
          >
            <li class="nav-item" id="Card">
              <a
                data-toggle="pill"
                href="/payment"
                class="nav-link rounded-pill"
              >
                <i class="fa fa-credit-card"></i>
                Credit/Debit Card
              </a>
            </li>
            <li class="nav-item" id="paypal">
              <a
                data-toggle="pill"
                href="#nav-tab-paypal"
                class="nav-link active rounded-pill"
              >
                <i class="fa fa-paypal"></i>
                UPI Payment
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <form>
              <div class="form-group">
                <label for="cardNumber">UPI Id.</label>
                <div class="input-group">
                  <input
                    type="text"
                    name="cardNumber"
                    placeholder="Your card number"
                    class="form-control"
                    required
                  />
                  <div class="input-group-append">
                    <span class="input-group-text text-muted"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        fill="currentColor"
                        class="bi bi-paypal"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.351.351 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91.379-.27.712-.603.993-1.005a4.942 4.942 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.687 2.687 0 0 0-.76-.59l-.094-.061ZM6.543 8.82a.695.695 0 0 1 .321-.079H8.3c2.82 0 5.027-1.144 5.672-4.456l.003-.016c.217.124.4.27.548.438.546.623.679 1.535.45 2.71-.272 1.397-.866 2.307-1.663 2.874-.802.57-1.842.815-3.043.815h-.38a.873.873 0 0 0-.863.734l-.03.164-.48 3.043-.024.13-.001.004a.352.352 0 0 1-.348.296H5.595a.106.106 0 0 1-.105-.123l.208-1.32.845-5.214Z"
                        />
                      </svg>
                    </span>
                  </div>
                </div>
              </div>

              <button
                type="button"
                class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"
              >
                Confirm
              </button>
            </form>
          </div>
          <!-- End -->
        </div>
        <!-- End -->
      </div>
    </div>
  </div>
</div>
