<div class="main-container">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5">
          <!-- Credit card form tabs -->
          <ul
            role="tablist"
            class="nav bg-light nav-pills rounded-pill nav-fill mb-3"
          >
            <li class="nav-item">
              <a
                data-toggle="pill"
                href="#nav-tab-card"
                class="nav-link active rounded-pill"
              >
                <i class="fa fa-credit-card"></i>
                Credit/Debit Card
              </a>
            </li>
            <li class="nav-item">
              <a
                data-toggle="pill"
                href="/Upipay"
                class="nav-link rounded-pill"
              >
                <i class="fa fa-paypal"></i>
                UPI Payment
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <!-- credit card info-->
            <div id="nav-tab-card" class="tab-pane fade show active">
              <p class="alert alert-success">Payment SuccessFul</p>
              <form role="form">
                <div class="form-group">
                  <label for="username">Full name (on the card)</label>
                  <input
                    type="text"
                    name="username"
                    placeholder="Jason Doe"
                    required
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="cardNumber">Card number</label>
                  <div class="input-group">
                    <input
                      type="text"
                      name="cardNumber"
                      placeholder="Your card number"
                      class="form-control"
                      required
                    />
                    <div class="input-group-append">
                      <span class="input-group-text text-muted"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          fill="currentColor"
                          class="bi bi-credit-card-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"
                          />
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label><span class="hidden-xs">Expiration</span></label>
                      <div class="input-group">
                        <input
                          type="number"
                          placeholder="MM"
                          name=""
                          class="form-control"
                          required
                        />
                        <input
                          type="number"
                          placeholder="YY"
                          name=""
                          class="form-control"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group mb-4">
                      <label title="Three-digits code on the back of your card"
                        >CVV
                        <i class="fa fa-question-circle"></i>
                      </label>
                      <input type="text" required class="form-control" />
                    </div>
                  </div>
                </div>
                <button
                  type="button"
                  class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"
                >
                  Confirm
                </button>
              </form>
            </div>
            <!-- End -->
          </div>
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>
