<div class="main">
  <div class="wrapper">
    <div class="package">
      <div class="name">Premium</div>
      <div class="price" id="price1">$30</div>
      <div class="trial">Available for a month</div>
      <hr />
      <ul>
        <li>
          <strong>4</strong>
          members
        </li>
        <li>
          <strong>HD/4k Qulity</strong>
          For Watching
        </li>
        <li>
          <strong>Unlimited</strong>
          Access Time For Any users
        </li>
        <li>
          <strong>Devices</strong>
          Mobile,Tv,Laptop,Tablets
        </li>
      </ul>
      <div class="button">
        <button class="btn-primary" routerLink="/payment">Click Here</button>
      </div>
    </div>
    <div class="package brilliant">
      <div class="name">Free</div>
      <div class="price" id="price2">Free</div>
      <div class="trial">Free 30 day trial</div>
      <hr />
      <ul>
        <li>
          <strong>2</strong>
          members
        </li>
        <li>
          <strong>720p/HD</strong>
          For Watching
        </li>
        <li>
          <strong>Unlimited</strong>
          Access Time For Any Users
        </li>
        <li>
          <strong>Devices</strong>
          Mobile,Tablets
        </li>
      </ul>
      <div class="button">
        <button class="btn-primary" routerLink="/dashboard">Click Here</button>
      </div>
    </div>
    <div class="package">
      <div class="name">Basic</div>
      <div class="price" id="price3">$12</div>
      <div class="trial">Monthly Plan</div>
      <hr />
      <ul>
        <li>
          <strong>2</strong>
          members
        </li>
        <li>
          <strong>4K/HD</strong>
          For Watching
        </li>
        <li>
          <strong>Unlimited</strong>
          Access Time For Any Users
        </li>
        <li>
          <strong>Devices</strong>
          Mobile,Tablets,Laptops,Tv
        </li>
      </ul>
      <div class="button">
        <button class="btn-primary" routerLink="/payment">Click Here</button>
      </div>
    </div>
  </div>
</div>
